# @setup
# .dev.vars という名前でこのファイルを複製し、アプリのローカル環境で扱う環境変数を設定してください。

NODE_ENV=
SESSION_SECRET=
GOOGLE_AUTH_CALLBACK_URL=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
TWITTER_AUTH_CALLBACK_URL=
TWITTER_AUTH_CLIENT_ID=
TWITTER_AUTH_CLIENT_SECRET=
